name: reVX Pytests

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout reV
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        fetch-depth: 1
        path: reV
    - name: checkout reVX
      uses: actions/checkout@v2
      with:
        repository: nrel/reVX
        fetch-depth: 1
        path: reVX
    - name: Set up Python
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.8
    - name: Install reV dependencies
      working-directory: ./reV
      shell: bash -l {0}
      run: |
        conda install pip
        pip install -e .
    - name: Install reVX dependencies
      working-directory: ./reVX
      shell: bash -l {0}
      run: |
        conda install rtree geopandas
        pip install -e .
    - name: Run reVX pytest
      working-directory: ./reVX
      shell: bash -l {0}
      run: |
        conda install pytest
        pytest -v --disable-warnings
